<div class="order-manager">
    <div class="card-header col-md-10">

        {{#each order as |order|}}
        <div class="dish col-md-5">
            <p>
                {{order.customer.name}}
            </p>
            <p>
               {{order.subtotal}} 
            </p>
            <p>
               {{order.tax}} 
            </p>
            <p>
               {{order.tip}} 
            </p>
              <p>
               {{order.total}} 
            </p>
            {{#each order.items}}
    <p>{{this.menu_name}} Quantity {{this.quantity}}</p>
            {{/each}}


        </div>
        <button type="button" id="delete-btn" data-id="{{reservation.id}}">Delete Order</button>
        <br><br>
        {{/each}}
    </div>
</div>