<div class="card-header text-center col-md-10" style="margin-top: 100px;">
    <h1>Thank You for Your Order.</h1>
</div>
<div class="d-flex container-fluid flex-wrap-column flex-md-row flex-column">
    <div class="d-flex justify-content-center align-items-center">
        <p>
            Thank you, {{order.customer.name}} for your order.
        </p>
        <p>
            A confirmation will be sent to your email address: {{order.customer.email}}
        </p>
        <p>
            Your order number is: {{ order.id }}
        </p>
        <p>
            Your order of
        </p>
        {{#each order.items}}
        <p>{{this.menu_name}} Quantity {{this.quantity}}</p>
        {{/each}}
        <p>
            Placed {{order.createdAt}}, will be ready in 30 minutes or less.
        </p>
        <button type="button" id="home-btn">Back to Homepage</button>
    </div>
</div>
<script src='./js/thank-you.js'></script>