<div class="order-container">
    <div class="card-header text-center" style="margin-top: 80px;">
        <h2 class="pacifico-regular" style="font-size: 50px;">
            Thank you for your Order
        </h2><br>


<div class="d-flex container-fluid flex-wrap-column flex-md-row flex-column">
    <div class="d-flex justify-content-center align-items-center">
        <p>
            Thank you, {{order.customer.name}} for your order.
        </p>
        <br>
        <p>
            A confirmation will be sent to your email address: {{order.customer.email}}
        </p>
        <br>
        <p>
            Your order number is: {{ order.id }}
        </p>
        <br>
        <p>
            Your order of:
        </p>
        <br>
        {{#each order.items}}
        <p>{{this.menu_name}} Quantity {{this.quantity}}</p>
        {{/each}}
        <p>
            Placed {{order.createdAt}}, will be ready in 30 minutes or less.
        </p>
        <br>
        <button type="button" id="home-btn">Back to Homepage</button>
    </div>
</div>
</div>
<script src='./js/thank-you.js'></script>